{erl_opts, [debug_info]}.
{cover_enabled, true}.


{deps, [{jsx, [], {git,"git@github.com:talentdeficit/jsx.git",
                   {tag,"v2.6.1"}}},
        {folsom, ".*", {git, "git://github.com/boundary/folsom",
                        master}}]}.

{profiles, [
            {test, [{deps, [
                            {meck, ".*", {git, "git@github.com:eproxus/meck.git",
                                          {master}}}
                           ]
                    }]
            }
           ]
}.
